#profile-img {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

#home-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home-text {
    padding: 20px;
}

.skill-img {
    width: 100px;
    padding: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-img {
    /* width: 200px; */
    /* min-width: 200px; */
    max-width: 200px;
    padding-bottom: 6px;
    /* min-height: 200px; */
    /* max-height: 200px; */
}

footer {
    text-align: center;
    background-color: #343a40;
    padding: 20px;
}

/* Portfoio Item */
.portfolio-card, .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.portfolio-card a, p {
    text-align: center;
}

.skill-card p {
    text-align: center;
}