/* elements */

a {
    color: white;
}

a:hover {
    color: palegreen;
    text-decoration: none;
}

body {
    background-color: #ededed;
}

h2 {
    margin-left: 8px;
}

footer {
    background-color: #343a40;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

/* classes */

/* header */

.active.navbar-brand {
    color: palegreen !important;
}

nav a:hover {
    color: palegreen !important;
}

.navbar-dark .navbar-brand {
    color: palegreen;
}

/* profile section */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.profile-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.profile-img {
    max-width: 90%;
}

.profile-text {
    padding: 20px;
}

/* skills section */

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;
}

.skill-icon {
    width: 100px;
    padding: 10px;
}

/* projects section */

.portfolio-header {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.project-container {
    margin-bottom: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.project-card a,
.project-p {
    text-align: center;
}

.project-card {
    margin: 4px;
}

.project-img {
    max-width: 200px;
    padding-bottom: 6px;
}

/* contact section */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid lightgray;
    border-radius: 4px;

}

.contact-me {
    color: palegreen;
    margin-bottom: 30px;
}

/* other */

.linkedin-link {
    text-align: right;
}

.email-link {
    text-align: left;
}

.copyright {
    color:  #343a40;
    background-color: palegreen;
    text-align: center;
}

.full-stop {
    color: palegreen;
}

.full-stop-white {
    color: white;
}