body {
    background-color: #ededed;
}

nav a:hover{
    color: palegreen !important;
}

.hr-section {
    width: 80%;
    /* height: 4px; */
    margin: 20px auto;
    border: 1px solid palegreen;
    border-radius: 8px;
}

.active.navbar-brand {
    color: palegreen !important;
}

.navbar-dark .navbar-brand {
    color: palegreen;
}

.full-stop {
    color: palegreen;
}

.profile-img {
    max-width: 90%;
    /* max-height: 90%; */
}

.profile-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.profile-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-text {
    padding: 20px;
}

.skill-icon {
    width: 100px;
    padding: 10px;
}

.skills, .contact-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.project-img {
    max-width: 200px;
    padding-bottom: 6px;
}

footer {
    text-align: center;
    background-color: #343a40;
    padding: 20px;
}

/* Portfoio Item */

.project-card,
.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.profile-container,
.skills {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card a, .project-p {
    text-align: center;
}

.skill-card {
    text-align: center;
}

.project-card {
    margin: 4px;
}

.portfolio-header,
.contact-container {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
